In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from preparar_dataset import preparar_dataset

### Us√© este dataset:
*   https://www.kaggle.com/datasets/mirzahasnine/loan-data-set

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
ruta = '../data/loan.csv'
df = pd.read_csv(ruta)
print(df.shape)
df.head()

(614, 12)

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y

### Nulos, repetidos e indiscernibles

In [4]:
# Valores nulos
df.isnull().sum()

Gender                13
Married                3
Dependents            15
Education              0
Self_Employed         32
Applicant_Income       0
Coapplicant_Income     0
Loan_Amount            0
Term                  14
Credit_History        50
Area                   0
Status                 0
dtype: int64

In [5]:
# Valores repetidos
df.duplicated().sum()

np.int64(0)

In [6]:
# Valores indiscernibles
X = df.drop('Status', axis = 1)
Y = df['Status']

df_copia = df.copy()

indiscernibles = df_copia.groupby(list(X.columns))['Status'].nunique()
indiscernibles = indiscernibles[indiscernibles > 1]
len(indiscernibles)

0

In [5]:
df['Status'].value_counts()

Status
Y    422
N    192
Name: count, dtype: int64

In [6]:
maximo = df['Status'].value_counts().max()
minimo = df['Status'].value_counts().min()
print(F'IR : {np.round(maximo/minimo, 4)}')

IR : 2.1979

In [7]:
df_procesado = preparar_dataset(df, tipo_escalado = "minmax", imputar = False)
print(df_procesado.shape)
df_procesado.head()

(614, 12)

,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Gender,Married,Dependents,Education,Self_Employed,Area,Status
0,0.070489,0.000000,0.214286,0.74359,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0
1,0.054830,0.036192,0.182857,0.74359,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,0.035250,0.000000,0.094286,0.74359,1.0,1.0,1.0,0.0,0.0,1.0,2.0,1.0
3,0.030093,0.056592,0.171429,0.74359,1.0,1.0,1.0,0.0,1.0,0.0,2.0,1.0
4,0.072356,0.000000,0.201429,0.74359,1.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0

In [8]:
df_procesado['Gender'].isna().sum()

np.int64(13)

In [9]:
df_procesado.to_csv('../data/df_limpio.csv', index = False)