In [50]:
import pandas as pd
import numpy as np

## Obtener los datos del "Credit Approval Dataset"

In [59]:
ruta = "/home/jair/Escritorio/Tec. Av. Patrones/Tareas/Tarea1/datasets/crx.csv"
df = pd.read_csv(ruta, na_values = '?')
df.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,Class
0,b,3083.0,0.0,u,g,w,v,125.0,t,t,1,f,g,202.0,0,positive
1,a,5867.0,446.0,u,g,q,h,304.0,t,t,6,f,g,43.0,560,positive
2,a,245.0,5.0,u,g,q,h,15.0,t,f,0,f,g,280.0,824,positive
3,b,2783.0,154.0,u,g,w,v,375.0,t,t,5,t,g,100.0,3,positive
4,b,2017.0,5625.0,u,g,w,v,171.0,t,f,0,f,s,120.0,0,positive

In [60]:
df.shape
# 690 vectores
# 15 características

(690, 16)

## Limpieza de repetidos e indiscernibles

In [61]:
# Limpieza de nulos
df = df.dropna()

# Limpieza de repetidos
df = df.drop_duplicates(keep = 'first')

# Limpieza de indiscernibles
características = df.drop(' Class', axis = 1)
df = df[~df.duplicated(subset = características, keep = False)]

In [62]:
df.shape
# 653 vectores
# 15 características
# Se eliminaron 59 vectores

(653, 16)

In [63]:
df.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,Class
0,b,3083.0,0.0,u,g,w,v,125.0,t,t,1,f,g,202.0,0,positive
1,a,5867.0,446.0,u,g,q,h,304.0,t,t,6,f,g,43.0,560,positive
2,a,245.0,5.0,u,g,q,h,15.0,t,f,0,f,g,280.0,824,positive
3,b,2783.0,154.0,u,g,w,v,375.0,t,t,5,t,g,100.0,3,positive
4,b,2017.0,5625.0,u,g,w,v,171.0,t,f,0,f,s,120.0,0,positive

## Separar numéricas y categóricas

In [64]:
df.columns

Index(['A1', ' A2', ' A3', ' A4', ' A5', ' A6', ' A7', ' A8', ' A9', ' A10',
       ' A11', ' A12', ' A13', ' A14', ' A15', ' Class'],
      dtype='object')

In [66]:
# Tienen un espacio los nombres de las oclumnas
df.columns = df.columns.str.strip()
df.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11',
       'A12', 'A13', 'A14', 'A15', 'Class'],
      dtype='object')

In [ ]:
numericos = ['A2','A3','A8','A11','A14','A15']

       A2      A3     A8  A11    A14  A15
0  3083.0     0.0  125.0    1  202.0    0
1  5867.0   446.0  304.0    6   43.0  560
2   245.0     5.0   15.0    0  280.0  824
3  2783.0   154.0  375.0    5  100.0    3
4  2017.0  5625.0  171.0    0  120.0    0

In [71]:
categoricos = [col for col in df.columns if col not in numericos and col != 'Class']
categoricos

['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

## Limpiar numericos

In [72]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
Index: 653 entries, 0 to 689
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A2      653 non-null    float64
 1   A3      653 non-null    float64
 2   A8      653 non-null    float64
 3   A11     653 non-null    int64
 4   A14     653 non-null    float64
 5   A15     653 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 35.7 KB

In [73]:
# Por ahi tiene unos nulos como '?'
df_num = df_num.replace('?', np.nan)
df_num.isna().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64