In [1]:
import pandas as pd
import numpy as np

## Obtener los datos del "Credit Approval Dataset"

In [23]:
ruta = "/home/jair/Escritorio/Tec. Av. Patrones/Tareas/Tarea1/datasets/crx.csv"
df = pd.read_csv(ruta)
df.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,Class
0,b,3083.0,0.0,u,g,w,v,125.0,t,t,1,f,g,202,0,positive
1,a,5867.0,446.0,u,g,q,h,304.0,t,t,6,f,g,43,560,positive
2,a,245.0,5.0,u,g,q,h,15.0,t,f,0,f,g,280,824,positive
3,b,2783.0,154.0,u,g,w,v,375.0,t,t,5,t,g,100,3,positive
4,b,2017.0,5625.0,u,g,w,v,171.0,t,f,0,f,s,120,0,positive

In [24]:
df.shape
# 690 vectores
# 15 características

(690, 16)

In [25]:
df.columns

Index(['A1', ' A2', ' A3', ' A4', ' A5', ' A6', ' A7', ' A8', ' A9', ' A10',
       ' A11', ' A12', ' A13', ' A14', ' A15', ' Class'],
      dtype='object')

## Separar numéricas y categóricas

In [ ]:
numericos = [' A2',' A3',' A8',' A11',' A14',' A15']
df_num = df[numericos]
df_num.head()

       A2      A3     A8  A11  A14  A15
0  3083.0     0.0  125.0    1  202    0
1  5867.0   446.0  304.0    6   43  560
2   245.0     5.0   15.0    0  280  824
3  2783.0   154.0  375.0    5  100    3
4  2017.0  5625.0  171.0    0  120    0

In [27]:
categoricos = [col for col in df.columns if col not in numericos]
df_cat = df[categoricos]
df_cat.drop(' Class', inplace=True, axis = 1)
df_cat.head()

/tmp/ipykernel_11693/2530208907.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat.drop(' Class', inplace=True, axis = 1)

  A1  A4  A5  A6  A7  A9  A10  A12  A13
0  b   u   g   w   v   t    t    f    g
1  a   u   g   q   h   t    t    f    g
2  a   u   g   q   h   t    f    f    g
3  b   u   g   w   v   t    t    t    g
4  b   u   g   w   v   t    f    f    s

## Limpiar numericos

In [28]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0    A2     690 non-null    object
 1    A3     690 non-null    float64
 2    A8     690 non-null    float64
 3    A11    690 non-null    int64
 4    A14    690 non-null    object
 5    A15    690 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 32.5+ KB

In [ ]:
# Por ahi tiene unos nulos como '?'
df_num = df_num.replace('?', np.nan)
df_num.isna().sum()

A2     12
A3      0
A8      0
A11     0
A14    13
A15     0
dtype: int64

In [ ]:
df_non_numeric = df.select_dtypes(include='object')
df_non_numeric.head()