In [2]:
%load_ext autoreload
%autoreload 2

In [14]:
from pathlib import Path
import sys
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [4]:
PROJECT_ROOT = Path.cwd().parent
sys.path.append(str(PROJECT_ROOT))

In [5]:
# importar modulo ir_value.
from proyecto.utils.ir_value import ir_value

In [16]:
train_path = PROJECT_ROOT/"datasets"/"Train.xlsx"
test_path = PROJECT_ROOT/"datasets"/"Test.xlsx"

In [20]:
df_train = pd.read_excel(train_path)
df_test = pd.read_excel(test_path)

In [8]:
df_train.head()

   feat_1  feat_2  feat_3  class
0      33      58      10      1
1      37      58       0      1
2      39      58       0      1
3      40      58       0      1
4      40      58       2      1

In [12]:
df_train.describe()

           feat_1      feat_2      feat_3       class
count  247.000000  247.000000  247.000000  247.000000
mean    52.246964   62.882591    3.882591    1.295547
std     10.677066    3.219349    6.824631    0.457215
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     60.000000   65.500000    4.000000    2.000000
max     83.000000   69.000000   52.000000    2.000000

In [ ]:
ir_value(df_train, 'class')

'No Balanceado - IR: 2.3835616438356166 - card_max: 174 - card_min: 73.'

## Estandarizar los datos numericos

In [40]:
columnas = df_train.columns
caracteristicas = columnas[:-1]
etiquetas = columnas[-1]
caracteristicas

Index(['feat_1', 'feat_2', 'feat_3'], dtype='object')

In [42]:
X = df_train[caracteristicas]
X

     feat_1  feat_2  feat_3
0        33      58      10
1        37      58       0
2        39      58       0
3        40      58       0
4        40      58       2
..      ...     ...     ...
242      61      68       1
243      38      69      21
244      42      69       1
245      46      69       3
246      52      69       3

[247 rows x 3 columns]

In [43]:
scaler = StandardScaler()
df_escalado = scaler.fit_transform(X)
df_escalado = pd.DataFrame(df_escalado, columns = caracteristicas)
df_escalado.head()

     feat_1    feat_2    feat_3
0 -1.806306 -1.519719  0.898192
1 -1.430910 -1.519719 -0.570064
2 -1.243212 -1.519719 -0.570064
3 -1.149364 -1.519719 -0.570064
4 -1.149364 -1.519719 -0.276413

In [ ]:
df_final = pd.concat([df_escalado.reset_index(drop=True),
                      df_train[etiquetas].reset_index(drop = True)], axis=1)
df_final.head()

     feat_1    feat_2    feat_3  class
0 -1.806306 -1.519719  0.898192      1
1 -1.430910 -1.519719 -0.570064      1
2 -1.243212 -1.519719 -0.570064      1
3 -1.149364 -1.519719 -0.570064      1
4 -1.149364 -1.519719 -0.276413      1

## Guardar df limpio

In [49]:
df_limpio = df_final.to_csv('../datasets/df_limpio.csv', index = False)